<div class="container">
  <h1 class="text-center">Historique de combats</h1>
  <div class="col-xs-12 col-md-4 text-center">
    <i class="fas fa-trophy" style="font-size: 60px; color: yellow;"></i>
    <p>Vainqueur</p>
    <% @combats.each do |combat| %>
      <% combat.joueurs.each do |joueur| %>
        <% if joueur.resultat == 'Vainqueur' %>
          <h2><%= joueur.personnage.nom.capitalize %></h2>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-12 col-md-4 text-center">
    <h2>VS</h2>
  </div>
  <div class="col-xs-12 col-md-4 text-center">
    <i class="fas fa-window-close" style="font-size: 60px; color: red;"></i>
    <p>Perdant</p>
    <% @combats.each do |combat| %>
      <% combat.joueurs.each do |joueur| %>
        <% if joueur.resultat == 'Perdant' %>
          <h2><%= joueur.personnage.nom.capitalize %></h2>
        <% end %>
      <% end %>\
    <% end %>
  </div>
  <%= link_to 'Retour', personnages_path %>
</div>

