<div class="banner-home">
  <div class="banner-content">
    <h1>Lost innocence</h1>
    <p>Choisis les personnages de ton enfance et fait les combattre !</p>
    <%= link_to 'Personnages', personnages_path, class: 'big-button' %>
  </div>
</div>
