<div class="container">
  <div class="row">
    <div class="text-center">
      <h1>Personnages</h1>
    </div>
  </div>
  <%= link_to new_personnage_path do %>
    <div class="list-inline">
      <li>
        <i class="fas fa-plus "></i>
      </li>
      <li>
        <p>Créer un personnage</p>
      </li>
    </div>
  <% end %>
  <%= link_to "Let's fight", new_combat_path, class: 'red-button'%>
  <div class="row">
    <%= render 'card' %>
  </div>
</div>
