<div class="container">
  <div class="row">
    <h1><%= @personnage.nom %></h1>
    <p>Points de vie : <%= @personnage.points_vie %></p>
    <p>Points d'attaque : <%= @personnage.points_attaque %></p>
    <%= link_to 'Edit', edit_personnage_path(@personnage) %>
  </div>
</div>
